Client/CalculaterWSJSPClient/src/conf/xml-resources/web-service-references/CalWebService/wsdl/localhost_8080/CalculatorWebService/CalWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://calculator.mindfire.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calculator.mindfire.com/">

<xs:element name="add" type="tns:add" />

<xs:element name="addResponse" type="tns:addResponse" />

<xs:element name="mul" type="tns:mul" />

<xs:element name="mulResponse" type="tns:mulResponse" />

<xs:complexType name="mul">
<xs:sequence>
<xs:element name="a" type="xs:float" />
<xs:element name="b" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mulResponse">
<xs:sequence>
<xs:element name="return" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="a" type="xs:float" />
<xs:element name="b" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:float" />
</xs:sequence>
</xs:complexType>
</xs:schema>